@media only screen and (max-width: 430px) {
    #header {
        padding: 6px 16px;
    }
    #header .header-wrapper {
        padding: 0;
    }
    #header .header-wrapper .header-nav {
        /* display: none; */
        width: 100%;
        padding: 0;
    }
    .header-logo .header-logo-image a img {
        width: 2.25rem;
        height: 2.25rem;
    }
    .header-logo-image .header-logo-book img {
        width: 1.875rem;
        height: 1.875rem;
    }
    .header-logo .header-logo-book span {
        font-size: 0.775rem;
    }
    #menu {
        display: inline-block;
        cursor: pointer;
    }
    #menu .bar1, 
    #menu .bar2, 
    #menu .bar3 {
        width: 21px;
        height: 2.5px;
        background-color: #111;
        margin: 5px 0;
        transition: 0.3s;
    }
    .change .bar1 {
        transform: translate(0, 4px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }

    .header-wrapper .header-nav {
        position: absolute;  
        top: 3.375rem;
        left: 0;
        right: 0;
    }
    .header-nav-lists-items .lists-items-sub {
        position: static;
    }
    .header-wrapper .header-nav .header-nav-lists {
        display: flex;
        flex-direction: column;
        transition: 0.2s;
        width: 100%;
        padding: 0;
    }
    .header-wrapper .header-nav .header-nav-lists.hidden {
        display: none;
    }
    .header-wrapper .header-nav .header-nav-lists>li {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .header-nav-lists-items .nav-lists-items-title {
        padding: 0.75rem 1rem;
        
    }
    .header-nav-lists li a {
        font-weight: 530;
        line-height: 1.5rem;
    }
    .header-wrapper .header-nav .header-nav-lists>li:not(:last-child) {
        border-bottom: 1.5px solid var(--gray);
    }
    .lists-items-sub .header-nav-lists-items-drop {
        display: flex;
        flex-wrap: wrap;
        display: block;
        position:static;
        top: 3rem;
        left: 0;
        right: 0;
        padding: 0 12px;
        border: none;
        background-color: rgb(245,245,245);
        
    }
    .lists-items-sub .header-nav-lists-items-drop li {
        display: inline-block;
        width: 45vw;
        padding: 12px 0 12px 18px;
        margin: 0;
    }
    .lists-items-sub .header-nav-lists-items-drop li {
        border-bottom: 1px solid var(--gray);
    }
    .lists-items-sub .header-nav-lists-items-drop li  a {
        font-size: 13px;
    }
    .header-nav-lists .lists-items-sub .items-empty {
        display: none;
    }
    .header-nav .header-nav-lists .header-nav-lists-items:not(:first-child) {
        /* display: none; */
    }
    .header-nav-lists-items .nav-lists-items-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .header-nav-lists-items {
        position: static;
    }
    
    .header-nav-lists-items .nav-lists-items-title {
        /* width: 100%; */
        height: 100%;
    }

    /* banner */

    .banner-wrapper {
        flex-direction: column-reverse;
        padding: 2rem 1.25rem;
    }
    .banner-wrapper .banner-text {
        width: 100%;
    }
    .banner-wrapper .banner-image {
        width: 100%;
    }
    .banner-text h1 {
        font-size: 1.5rem;
        margin: 1.2rem 0;
        font-weight: 0;
    }
    .banner-text .banner-text-button {
        text-align: center  ;
    }
    .current-movie-flex {
       
    }
    .bg-current-movie, 
    .bg-comingsoon-movie {
        padding: 2rem 0;
    }
    .current-movie-flex-items .current-movie-flex-items-top, 
    .comingsoon-movie-flex-items .comingsoon-movie-flex-items-top {
        height: 103px;
    }
    .current-movie-flex-items .current-movie-flex-items-top .flex-items-image img, 
    .comingsoon-movie-flex-items .comingsoon-movie-flex-items-top .flex-items-image img {
        width: 67.8px;
    }
    .bg-current-movie .current-movie-title, 
    .bg-comingsoon-movie .comingsoon-movie-title, 
    .bg-trailer-movie .trailer-movie-title {
        font-size: 1.5rem;
        margin-bottom: 1.3rem;
    }
    .current-movie-next i {
        /* right: -1.5rem; */
    }
    #comingsoon-movie .bg-comingsoon-movie {
        padding: 2rem 0;
    }

    /* trailer movie */ 
    .bg-trailer-movie {
        padding: 2rem 0;
    }
    .trailer-movie-flex-items-top .flex-items-image img {
        width: 21.6vw;
        height: 100%;
    }
    .trailer-movie-flex-items .trailer-movie-flex-items-top {
        height: 51px;
    }


    /* calendar film */ 

    #calendar-movie .calendar-movie-wrapper {
        padding-top: 2rem;
    }
    .calendar-movie-wrapper .calendar-movie-border {
        border: none;
    }
    .calendar-movie-wrapper .calendar-movie-title {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    .calendar-movie-border-top .movie-border-top-brand {
        display: none;
    }
    .movie-border-top-location .movie-border-top-location-text {
        display: none;
    }

    .popup-fixed-provide {
        margin-top: 1.25rem;
        padding: 0;
    }
    .popup-fixed-provide .popup-fixed-provide-wrapper {
        width: 100%;
    }
    .popup-fixed-provide-body .popup-fixed-provide-body-parent {
        padding: 0 1rem;
    }
    .list-provide-wrapper>li {
        width: auto;
        display: inline-block;
        padding: 0.66rem 0.85rem;
    }
    .popup-fixed-provide-body-parent .list-provide-wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem
    }
}

